.history
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Recordings/
Assets/AssetStoreTools*
Assets/StreamingAssets/aa/
Assets/AddressableAssetsData/*/catalog.json
Assets/AddressableAssetsData/*/addressables_content_state.bin
*.pidb
*.mdb
*.pdb
*.booproj
*.svd
*.suo
*.user
*.userprefs
*.csproj
*.unityproj
*.pidb
*.sln
*.sln.docstates
*.vsconfig
.DS_Store

Thumbs.db
ehthumbs.db
Icon?
desktop.ini
.vs/
.vscode/

*.DotSettings.user
*.collabignore
*.apk
*.aab
*.unitypackage
*.app
*.exe
*.zip
.idea/
*.sln.iml

